

* {
    font-family: "Montserrat", sans-serif;
}

h1 {
    font-size: 35px;
}

h2 {
    font-size: 25px;
}

ul, p, ol {
    font-size: 20px;
}

div, footer {
    text-align: center;
}

ul, ol {
    display: inline-block;
    text-align: left;
}

#top-margin {
    margin-top: 170px;
}

.gradient-color {
    background: linear-gradient(-45deg,#ff99f7, #ca85ff, #81ddff);
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
    padding-top: 1vb;
    padding-bottom: 4vh;
    border-radius: 20px;
}

@keyframes gradient{
    0%{
        background-position: 0% 50;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

.align-vertically {
    vertical-align: middle;
}

.button {
    font-size: 15px;
    vertical-align: top;
    text-decoration: none;
    background: linear-gradient(#ff00ea, #9000ff);
    color: #000;
    padding: 10px;
    border: 2px solid #ff9900;
}

.button:hover {
    font-size: 20px;
    
    background: linear-gradient(#ff9900, #9000ff);
}

footer {
    margin-top: 8px;
}

#top-box {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100px;
}

input {
    position: absolute;
    display: none;
}

.menu{
    margin: 0;
    position: fixed;
    top: 15%;
    left: 92%;
    margin-left: 25px;
    margin-top: 25px;
}

svg { font-size: 36px; color: #1b2630 }

<!-- The idea for this menu showing up when a button is clicked came from many instagram css accounts that I follow, such as @cssiseasy, @coding.stella or @coding_dev_ -->
<!-- I have, of course, modified their original creations to suit my needs -->
<!-- The principle here is to turn the opacity of the elements of the menu to 1 when the main button is first clicked, and make them travel with a cubic-bezier transition -->
.round-button{
    width: 70px;
    height: 70px;
    border-radius: 70px;
    position: absolute;
    overflow: hidden;
    cursor: pointer;
    text-decoration: none;
}

.round-button{
    background: linear-gradient(-45deg,#ff99f7, #81ddff);
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(49, 49, 49, 0.1);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.round-button + .round-button{
    opacity: 0;
    z-index: -2;
    -webkit-transition: all 0.6s cubic-bezier(.87, -.41, .19, 1.44);
    transition: all 0.6s cubic-bezier(.87, -.41, .19, 1.44);
}

.round-button svg + svg{
    display: none;
}

.round-button:nth-child(2){
    top: 0px;
    transition-delay: 0s;
}

.round-button:nth-child(3){
    top: 0px;
    transition-delay: 0.2s;
}

.round-button:nth-child(4){
    top: 0px;
    transition-delay: 0.4s;
}

.round-button:nth-child(5){
    top: 0px;
    transition-delay: 0.6s;
}

input#toggle:checked ~ #show-menu .round-button:nth-child(2) {
    top: 90px; opacity:1;
}

input#toggle:checked ~ #show-menu .round-button svg + svg {
    display: block;
}

input#toggle:checked ~ #show-menu .round-button:first-child svg:first-child {
    display: none;
}

input#toggle:checked ~ #show-menu .round-button:nth-child(3) {
    top: 170px; opacity:1;
}

input#toggle:checked ~ #show-menu .round-button:nth-child(4) {
    top: 250px; opacity:1;
}

input#toggle:checked ~ #show-menu .round-button:nth-child(5) {
    top: 330px; opacity:1;
}

input#toggle:checked ~ #show-menu .round-button .menuBtn {
    transform: translateY(-70px);
    opacity: 0;
  }
input#toggle:checked ~ #show-menu .round-button .closeBtn {
    transform: translateY(0px);
    opacity: 1;
}
.closeBtn {
    transform: translateY(50px);
    opacity: 0;
}
.menuBtn, .closeBtn {
    position: absolute;
    transition: all 0.3s ease;
}
